

* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	height: 200vh;
}

section {
	background: url(../image/bg1.jpg), linear-gradient(230deg, #f533d4, #2461bb);
	background-blend-mode: luminosity;
	background-size: cover;
	height: 100vh;
	position: absolute;
	width: 100%;
}

section .skewed {
	background: #fff;
	bottom: -100%;
	height: 100%;
	left: 0;
	position: absolute;
	transform: skewY(-10deg);
	transform-origin: top left;
	width: 100%;
}